<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

<script src="/js/default.js" type="text/javascript" async defer></script>
<script src="/js/jquery.min.js" type="text/javascript" async defer></script>
<script src="/js/hovereffect1.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="/js/main.js" type="text/javascript" charset="utf-8" async defer></script>

    </head>
    <body>

      <div id="header">
        <div id="logo" title="mindynamics" onclick="window.location='/'">
          <div id="tagline"><h2>collaborative web & mobile application development</h2></div>
        </div>
      </div>

      <div id="menu">
        <ul id="menuitems">
          <li><a href="/incubation.html">incubation</a></li>
          <li><a href="/training.html">training</a></li>
          <li><a href="/portfolio.html">portfolio</a></li>
        </ul>
      </div>
     
      <div id="content">
        {{ content }}
        <div style="clear:both;"></div>
      </div>

      <div id="contact"><a href='mailto:keyvan@mindynamics.com'>mash here to contact us</a></div>

      <div id="footer">&copy; 2009-2015 mindynamics.com</div>
    </body>
</html>
